<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">   
        <title>Kavelaa的小站(Demo)</title>
        <link href="style/style.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.font.im/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
        <script src="scripts/vue.js"></script>
    </head>
    <body>
        <header :style='headerStyle'>
            <div id='welcome' class='index-l'>
                <h1 :style='h10Style'>欢迎</h1>
            </div>
            <div id='blog' class='index-l'>
                <h1 :style='h11Style'><a href='https://blog.kavelaa.work'>我的Blog</a></h1>
            </div>
            <div id='ad' ref='adDiv' :style='adStyle' @mouseover='mouseOver' @mouseout='mouseOut'>
                <a href='https://blog.kavelaa.work/archives/31' target="blank">{{adContent}}</a>
                <img id='ad-img' src='images/aliyun.png' v-if='seen'>
            </div>
        </header>
        <main>
            <div id='welcomePage' ref='welcomeDiv' :style='welcomePageStyle'>
                <div id='welcomePage0' :style='welcomePage0Style'>
                    <div id='welcomePageBlock0'>
                        <h1>天地无言，而通万物</h1>
                        <p>WordPress博客页已搭建成功：移步<a href='https://blog.kavelaa.work' target='blank'>此处</a></p>
                    </div>
                </div>
                <img src='images/山.jpg'>
            </div>
            <div id='contentPage'>
                <div id='introduce'>
                    <h2>学习Web知识，成为一名前端工程师。</h2>
                    <p>
                        纯粹出于兴趣，我从七月开始了学习网页开发的旅途。
                        <br>
                        我一直希望有一个自己的小天地，可以表达我的想法和灵感，并且和他人分享。
                        <br>
                        而个人网页无疑是一个最酷最现代的方式，我可以把我的想法和创意都上传到我的博客网页让别人看见和交流。
                        <br>
                        我也有继续深入下去的决心，希望接触更多新知识，在大学期间获得可以参与实际工作的能力。
                    </p>
                </div>
                <div id='myWorks'>
                    <div id='index-r'>
                        <h2>我的作品</h2>
                            <div id='box1' class='index-box' @mouseover='mouseOver' @mouseout='mouseOut'>
                                <h2>
                                    <a href='http://drizzle.one' target='blank'>
                                        Drizzle<span style='font-size: 0.3em;vertical-align: middle;'>(Point)</span>
                                    </a>
                                </h2>
                            </div>
                            <img v-if='seen' id='display-img' src='images/drizzle.png'>
                    </div>
                    <div class='over'></div>
                </div>
            </div>
        </main>
        <div class='belief'>
            <h2>在网页设计的路上，绝不将就。</h2>
            <p>
                没有尽力做的东西是没有灵魂的。
                <br>
                东西可以做的简单小巧，但是绝对不能简陋。                        
            </p>
        </div>
        <footer>
            <div class='footerDiv' id='aliyun'> 
                <a href='https://aliyun.com' target='blank'>
                    <img src="https://img.alicdn.com/tps/TB16hl5LpXXXXXRXVXXXXXXXXXX-198-46.png" style='height:100%;'>
                </a>
            </div>
            <div id='braveReferral'>
                <a href='https://brave.com/kav051' target='blank'>
                    <img style='height:100%' src='images/brave.png'>
                </a>
            </div>
            <div class='footerDiv' id='brave'>
                <a  href='https://brave.com' target='blank'>
                    <img src='images/brave.svg' style='height:100%' title="本网站已通过Brave Publisher认证">
                </a>
            </div>
            <div class='over'></div>    
            <p class='copyright'>© 2018 kavelaa.work.All Rights Reserved.</p>
            <div style="width:auto;margin:0 auto;height: 22px;">
                <a href='http://www.miitbeian.gov.cn/' target="blank" style="color:#939393;display:inline;">蜀ICP备18024791号</a>
                <a target="_blank" href="http://www.beian.gov.cn" style="display:inline;text-decoration:none;line-height:21px;"><img align='absmiddle' src="images/备案图标.png"/><p style="display:inline-block;height:20px;margin: 0px 0px 0px 2px; color:#939393;">川公网安备 51010702001163号</p></a>
            </div>
        </footer>
        <script src='scripts/display-image.js'></script>
    </body>
</html>